apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  type: {{ .Values.service.type }}
  selector:
    app: myapp
  ports:
  - protocol: TCP
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
